<!DOCTYPE html>
<html ng-app="myApp">
    <head lang="en">
        <meta charset="utf-8">
        <title>Reportes de Ventas</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">  
        <link rel="stylesheet" type="text/css" href="css/ng-grid.css" />
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="js/d3.v3.min.js"></script>
        <script src="js/dimple.v2.1.2.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/ng-grid.debug.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="js/data1.js"></script>
        <script type="text/javascript" src="js/data2.js"></script>
        <script type="text/javascript" src="js/data3.js"></script>
    </head>
    <body ng-controller="MyCtrl" style="text-align:center">
        <div class="jumbotron">
        <h1>Reportes de ventas</h1>
        <p><a class="btn btn-primary btn-lg" ng-click="add1()" role="button">Reporte 1</a>
        <a class="btn btn-primary btn-lg" ng-click="add2()" role="button">Reporte 2</a></p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <div class="gridStyle" class="col-md-9" ng-grid="gridOptions"></div>
                </div>
                <div id="chartContainer" class="col-md-6">
                </div>
            </div>
        </div>
    </body>
</html>